html{
  background-color: #E3D5D2;
}
h1{
  text-align: center;
  color:#1E2F78;
}
.introduction{
  font-family: sans-serif;
  text-align: center;
}
img{
  float: left;
  height: auto;
  width: 20%
}
h2{
  font-family: sans-serif;
  text-align: center;
}
.box{
  border: 2px solid black;

}
